@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Google Sans Italic'), local('GoogleSans-Italic'), url(/fonts/4UaErENHsxJlGDuGo1OIlL3L8pxULilENlY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Google Sans Medium Italic'), local('GoogleSans-MediumItalic'), url(/fonts/4UaZrENHsxJlGDuGo1OIlL3L-m93OwRmO3wq9Io.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Google Sans Bold Italic'), local('GoogleSans-BoldItalic'), url(/fonts/4UaZrENHsxJlGDuGo1OIlL3L-idxOwRmO3wq9Io.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(/fonts/4UaGrENHsxJlGDuGo1OIlL3Owp5eKQtG.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(/fonts/4UabrENHsxJlGDuGo1OIlLU94YtzCwZsPF4o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Google Sans Bold'), local('GoogleSans-Bold'), url(/fonts/4UabrENHsxJlGDuGo1OIlLV154tzCwZsPF4o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


body, html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(70, 70, 70);
  color: white;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
}

a {
  color: white;
}

h1 {
  margin: 2vw;
  font-size: 2.6vw;
}

h2 {
  font-size: 3.2vw;
  margin: 0;
  font-weight: 400;
}

h3, .or {
  font-size: 2.6vw;
  margin: 0;
  font-weight: 400;
}

.quizz {
  text-align: center;
}

.hexagon img {
  width: 28vw;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.choices {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  margin: 4vw 10vw;
}

.or {
  display: grid;
  grid-template-rows: 50% 50%;
}

.or span {
  align-self: end;
  margin-bottom: 2vw;
}

.result {
  margin-top: 2vw;
  align-self: center;
}

.solution {
  min-height: 10vw;
}

